
    body {
     font-family: "Montserrat", sans-serif;
      margin: 0;
      padding: 0;
      background-image: url("suporte.png");
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      color: #003B57;
    }
    header {
      background-color: #1c2b3c (28, 43, 60, 0.8);
      padding: 20px;
      text-align: center;
      backdrop-filter: blur(5px);
    }
    header h1 {
      margin: 0;
    }
    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }
    .support-section {
      text-align: center;
      padding: 40px;
    }
    .support-section h2 {
      font-size: 2.8rem;
      margin-bottom: 30px;
      color: #fff;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
      font-weight: 600;
    }
    .support-message {
      font-size: 1.3rem;
      margin-bottom: 30px;
      line-height: 1.6;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      padding: 20px;
      border-radius: 20px;
      position: relative;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
    .support-message:after {
      content: '';
      position: absolute;
      bottom: -15px;
      left: 50%;
      margin-left: -15px;
      border-width: 15px 15px 0;
      border-style: solid;
      border-color: white transparent;
    }
    .qr-code {
  width: 80px;          
  height: auto;         
  display: block;
  margin: 20px auto;
  padding: 8px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

  