body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #003B57; 
  color: white;
}

.componentes {
  max-width: 70%;
  margin: auto;
  padding: 12vh 4vw 2vh 4vw;
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 5vh;
  margin-top: -3vh;
  color: #d0f0ff;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.item{
  display: flex;
  justify-content: right;
  gap: 20px;
}

#Fotovoltaicos{
  height: 200px;
  width: 400px;
}

.item img {
  width: 12vw;
  height: auto;
  border-radius: 30px;
}

.componentes .text {
  background-color: #fdd244;
  border-radius: 40px;
  padding: 3vh;
  gap: 3vh;
  color: #333;
  max-width: 50vw;
  text-align:left ;
  width: 50vw;
  box-shadow: 0 0 20px rgba(125, 125, 125, 0.6);
}

.componentes h1 {
  font-size: 4vh;
}

.subtitle {
    font-size: 3vh;
}

#Controlador-de-Carga {
  height: 200px;
  width: 350px;
}

#String-Box {
  height: 200px;
  width: 250px;
}