html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #003B57;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 4vh;
    box-sizing: border-box;
    gap: 4vh;
    margin-top: 100%;
    height: 30vh;
}

.elememtos1, .coluna1, .coluna2 {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.coluna1, .coluna2 {
    width: 30%;
    text-align: left;
}
.coluna1 {
    text-align: left;
    margin-left: 60%;
}

a {
    color: white;
}

img {
    width: 2.5vw;
    margin: 0.4vh;
}

footer h3 {
    font-size: 3vh;
}
