.montserrat-title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --amareloFundo: #FFC716;
  --azulEscuro: #003B57;

}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}