body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.btn-carrinho {
  margin: 20px;
  padding: 10px 20px;
  background: #2b7cff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.carrinho {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f8f9fa;
  overflow-x: hidden;
  transition: 0.3s;
  padding: 20px;
  box-shadow: -4px 0 10px rgba(0,0,0,0.2);
}

.carrinho.aberto {
  width: 70vw; /* abre com metade da tela */
}

.fechar {
  background: none;
  border: none;
  font-size: 22px;
  float: right;
  cursor: pointer;
}

h2 {
  margin-top: 0;
}
